	<div class="msg">
	<span class="from">From: <%=message.sender.name %></span> <span class="to" > To : <%= message.recipient.name %> </span>  <span class="time"> at <%= message.sent_at %> </span> <br/>
	<%= message.body %>
	<hr/>
	</div>